name: Build main  kernels

on:
  schedule:
    - cron: '0 0 * * 1'  # 可替换为上面的示例表达式
  workflow_dispatch:

jobs:
  build-kernel:
    runs-on: ubuntu-latest
    steps:
      - name: Set swap to 10G
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10

      - name: build
        run: |
          # 确保系统是最新的
          cd ~
          sudo apt update

          # 安装必要的依赖
          sudo apt install -y curl axel git build-essential flex bison libssl-dev \
              libncurses5-dev libelf-dev bc python3 rsync file
          # 安装 aarch64 和 arm32 交叉编译工具链
          sudo apt install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu \
              gcc-arm-linux-gnueabi g++-arm-linux-gnueabi
          # 克隆内核源码和 Clang 工具链
          git clone https://gitlab.com/sm8150-mainline/linux.git -b v6.17.0-sm8150 kernel --depth=1
          git clone https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86  clang --depth=1 -b clang-r522817/
          # 设置环境变量
          export KBUILD_BUILD_USER=mmzch
          export KBUILD_BUILD_HOST=localhost
          export HOME=~/
          export CLANG_PATH=$HOME/clang/bin
          export PATH="$CLANG_PATH:$PATH"
          export CROSS_COMPILE=aarch64-linux-gnu-
          export CROSS_COMPILE_ARM32=arm-linux-gnueabi-
          export ARCH=arm64
          export SUBARCH=arm64
          export LLVM=1
          export LLVM_IAS=1
          # 进入内核目录并应用补丁
          cd kernel
          ./scripts/kconfig/merge_config.sh defconfig arch/arm64/configs/hardening.config arch/arm64/configs/efi.config  arch/arm64/configs/sm8150.config
          # 使用 Clang 编译内核
          make -j$(nproc --all) ARCH=arm64 \
              CC=clang \
              LD=ld.lld \
              AR=llvm-ar \
              NM=llvm-nm \
              OBJCOPY=llvm-objcopy \
              OBJDUMP=llvm-objdump \
              STRIP=llvm-strip \
              CROSS_COMPILE=aarch64-linux-gnu- \
              CROSS_COMPILE_ARM32=arm-linux-gnueabi- \
              LLVM=1 \
              LLVM_IAS=1
 
      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: master.zip
          path: ~/kernel/arch/arm64/boot/