name: Build main  kernels

on:
  workflow_dispatch:

jobs:
  build-kernel:
    runs-on: ubuntu-22.04
    steps:
      - name: Set swap to 10G
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10

      - name: build
        run: |
          # 确保系统是最新的
          cd ~
          sudo apt update
          # 更新源并安装依赖（包含缺失的 debhelper-compat=12 和 libssl-dev）
          sudo apt install -y debhelper-compat=12 libssl-dev gcc-aarch64-linux-gnu crossbuild-essential-arm64 fakeroot dpkg-dev
          # 安装必要的依赖
          sudo apt install -y curl axel git build-essential flex bison libssl-dev libncurses5-dev libelf-dev bc python3 rsync file
          # 安装 aarch64 和 arm32 交叉编译工具链
          sudo apt install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu gcc-arm-linux-gnueabi g++-arm-linux-gnueabi
          # 克隆内核源码和 Clang 工具链
          git clone https://gitlab.com/sm8150-mainline/linux.git kernel --depth=1
          git clone https://gitlab.com/alphadroid-project/prebuilts_clang_host_linux-x86_clang-r547379.git  clang --depth=1 
          # 设置环境变量
          export KBUILD_BUILD_USER=mmzch
          export KBUILD_BUILD_HOST=localhost
          export HOME=~/
          export CLANG_PATH=$HOME/clang/bin
          export PATH="$CLANG_PATH:$PATH"
          export CROSS_COMPILE=aarch64-linux-gnu-
          export CROSS_COMPILE_ARM32=arm-linux-gnueabi-
          export ARCH=arm64
          export SUBARCH=arm64
          export LLVM=1
          export LLVM_IAS=1
          # 进入内核目录并应用补丁
          cd kernel
          echo "CONFIG_EFI_STUB=y" >> ~/kernel/arch/arm64/configs/defconfig
          make ARCH=arm64 defconfig sm8150.config 
          # 使用 Clang 编译内核
          make -j$(nproc --all) ARCH=arm64 CC=clang CC=clang LD=ld.lld AR=llvm-ar NM=llvm-nm OBJCOPY=llvm-objcopy OBJDUMP=llvm-objdump STRIP=llvm-strip CROSS_COMPILE=aarch64-linux-gnu- CROSS_COMPILE_ARM32=arm-linux-gnueabi- LLVM=1 LLVM_IAS=1 deb-pkg
           cp linux-*.deb ~/kernel/arch/arm64/boot/
           cp .config ~/kernel/arch/arm64/boot/
           cp ~/kernel/arch/arm64/boot/dts/qcom/sm8150-oneplus-hotdogb.dtb ~/kernel/arch/arm64/boot/
           cd ~/kernel/arch/arm64/boot/
           rm Makefile dts -rf
      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: master.zip
          path: ~/kernel/arch/arm64/boot/
